html
    body
        style.
            body {font-size: 16pt; line-height: 1.6;}
            button {font-size: 16pt;}
            .centered {text-align: center}
            .div {text-align: center; margin-top: 50px}
        div(class="div")
            img(src="logos/uni-kn.png" width="200px")
            br
            img(src="logos/forschergruppe.png" width="100px")
            img(src="logos/phonlab.png" width="100px")
            br
            img(src="logos/dfg.png" width="200px")
            br
        h1(class="centered") Danke für Ihre Teilnahme!
    script.
        window.history.forward()