html
    body
        style.
            body {font-size: 16pt; line-height: 1.6;}
            button {font-size: 16pt;}
            .centered {text-align: center}
        h1(class="centered") Danke!
    script.
        window.history.forward()